.boton {
    width: 65px;
    height: 65px;
}

.jugarDeNuevo {
    margin-top: 20px;
}

.jugarDeNuevo:hover {
    text-transform: uppercase;
    background-color:  rgb(14, 0, 51);
    color:  rgb(210, 236, 62);
    
}
body {
    background-image: url('Img/Imagen-Juego.png');
}

h1 {
    margin-top: 20px;
    color: rgb(210, 236, 62);
    text-shadow: 3px 3px 5px black;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 50px;
}

#lblResultado {
    margin-top: 10px;
    color:  rgb(210, 236, 62);
    font-size:x-large;
    text-transform: uppercase;
}